body{
    background-position: center;
    background-size: cover;
}

.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
 
}

.heading button{
    float: right;
    border: 1px solid white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
    size: 100px;
    color: black;
}